<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Examining-Data-for-Potential-Issues" data-toc-modified-id="Examining-Data-for-Potential-Issues-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examining Data for Potential Issues</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Missing Values</a></span><ul class="toc-item"><li><span><a href="#Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values" data-toc-modified-id="Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Show the number of null values only of the columns that actually have null values</a></span></li><li><span><a href="#Remove-the-columns-that-have-more-than-10,000-null-values-in-them" data-toc-modified-id="Remove-the-columns-that-have-more-than-10,000-null-values-in-them-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Remove the columns that have more than 10,000 null values in them</a></span></li><li><span><a href="#Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null." data-toc-modified-id="Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null.-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create a new dataframe that shows only the row where <code>displ</code> is null.</a></span></li><li><span><a href="#Fill-nan-values-with-the-most-appropriate-technique" data-toc-modified-id="Fill-nan-values-with-the-most-appropriate-technique-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Fill nan values with the most appropriate technique</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Incorrect-Values" data-toc-modified-id="Incorrect-Values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Incorrect Values</a></span><ul class="toc-item"><li><span><a href="#Check-similar-rows" data-toc-modified-id="Check-similar-rows-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Check similar rows</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Low-Variance-Columns" data-toc-modified-id="Low-Variance-Columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Low Variance Columns</a></span><ul class="toc-item"><li><span><a href="#Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame." data-toc-modified-id="Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame.-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.</a></span></li></ul></li><li><span><a href="#Extreme-Values-and-Outliers" data-toc-modified-id="Extreme-Values-and-Outliers-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Extreme Values and Outliers</a></span></li><li><span><a href="#Data-Type-Correction" data-toc-modified-id="Data-Type-Correction-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Data Type Correction</a></span><ul class="toc-item"><li><span><a href="#Check-the-data-type-of-each-column" data-toc-modified-id="Check-the-data-type-of-each-column-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Check the data type of each column</a></span></li><li><span><a href="#Cleaning-years" data-toc-modified-id="Cleaning-years-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Cleaning years</a></span></li></ul></li><li><span><a href="#Cleaning-Text-and-Removing-Special-Characters" data-toc-modified-id="Cleaning-Text-and-Removing-Special-Characters-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Cleaning Text and Removing Special Characters</a></span></li><li><span><a href="#Finding-and-Removing-Duplicates" data-toc-modified-id="Finding-and-Removing-Duplicates-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Finding and Removing Duplicates</a></span><ul class="toc-item"><li><span><a href="#Drop-duplicate-rows-that-are-completely-equal" data-toc-modified-id="Drop-duplicate-rows-that-are-completely-equal-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Drop duplicate rows that are completely equal</a></span></li><li><span><a href="#Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns." data-toc-modified-id="Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns.-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.</a></span></li></ul></li><li><span><a href="#Export-clean-dataset" data-toc-modified-id="Export-clean-dataset-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Export clean dataset</a></span></li></ul></div>

# Data Cleaning


Lab Goals

+ Examine data for potential issues.
+ Identify and fill in missing values.
+ Identify and correct incorrect values.
+ Remove low variance columns.
+ Identify potential outliers.
+ Correct incorrect data types.
+ Remove special characters and clean categorical variables.
+ Identify and remove duplicate records.

Introduction

When working with data sets, you will find that they often require a bit of cleaning. Whether Pandas originally read the data types incorrectly, records are duplicated, the data contains special characters or missing value, or there are slightly different references to the same entity, every data analyst must know how to clean the data they are working with before analyzing it. In this lesson, you will learn about some of the most common problems that make data messy and methods for correcting those problems and cleaning your data.

The data set we are going to be using for this lesson is a messy version of the vehicles data set we worked with in the previous lesson. Let's import this version of our data set so that we can then practice cleaning it up.

In [41]:
import pandas as pd
import numpy as np

In [42]:
#Load data from vehicles_messy.csv

data = pd.read_csv('/content/vehicles_messy.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Examining Data for Potential Issues

One of the first things we want to do is examine the data and look for any **potential issues**. Some of the things we are interested in identifying in the data at this stage include:

- Missing values
- Special characters
- Incorrect values
- Extreme values or outliers
- Duplicate records
- Incorrect data types

The presence of these may cause problems when it's time to analyze the data, so we want to make sure we address them beforehand. We can start by visually inspecting the data using the `.head` method, which will show us the first 5 rows of data.

In [4]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

But how big actually is our dataframe??? Check it with `.shape` method

In [5]:
data.shape #El primer dato son las filas y el segundo las columnas

(37843, 83)

Let's dive a little more in the content of our data set. Is there any method that shows us the **column names**, its **data types** and number of **non-null values**?

In [6]:
#nombre de las columnas:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

# Missing Values

From this initial view, we can see that our data set contains some columns that have missing values in them and others that seem to have a lot of zero values. 

Let's see how prevalent missing values are in our data. We can use the Pandas `.isnull()` method to check whether the value in each field is missing (*null*) and return either True or False for each field. 

We can use the `.sum()` method to total up the number of True values by column, and then we can add a condition using square brackets that will filter the data and show us only columns where the number of null values were greater than zero.

## Show the number of null values only of the columns that actually have null values

In [7]:
nul_col = data.isnull().sum()
nul_col
#Esto da el valor total de datos nulos que tiene cada columna

barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31705
phevCity          0
phevHwy           0
phevComb          0
Length: 83, dtype: int64

In [35]:
nul_col[nul_col > 0] #Con esto enseñamos el numero de ceros que tienen las columnas que tienen nulos. El resto de columnas no aparecen

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

We can see that some columns have relatively few null values while others have tens of thousands of nulls. For fields that have a lot of null values, you will often have to make a judgement call. If you don't think the information is going to be very useful to your analysis, then you would remove those columns from your data frame.

## Remove the columns that have more than 10,000 null values in them

In Pandas, we can do that using the drop method. For our purposes, let's remove the columns that have more than 10,000 null values in them. We will add these column names to a list, and then we will pass those columns to the drop method and indicate that we want columns (not rows) dropped by setting the axis parameter to 1.

In [43]:
uar_seg = data.copy()

col_borrar = nul_col[nul_col > 10000].index
col_borrar
data.drop(columns = col_borrar, inplace = True, axis = 1)

In [44]:
#your code
data.shape

(37843, 70)

This leaves us with just a handful of remaining columns that have null values. Of the columns that remain, it looks like the cylinders column and the displ column have a similar number of nulls. Perhaps they are missing for similar reasons. We can investigate this by subsetting the data set and looking at just the records where displ is null and just the columns we think will be informative in allowing us to determine a reason.

## Create a new dataframe that shows only the row where `displ` is null. 
Keep only the columns you think are useful

In [22]:
#your code
nul_index = data.displ[data.cylinders.isnull()].index
nul_index

Int64Index([ 7138,  7139,  8143,  8144,  8146,  8147,  9212,  9213, 10329,
            21413,
            ...
            30557, 30561, 30784, 30785, 30786, 30969, 30972, 30973, 30974,
            30975],
           dtype='int64', length=123)

In [23]:
data.iloc[nul_index][['make', 'model', 'fuelType' ,'cylinders', 'displ']] #Parece que son nulos porque los coches son eléctricos

         make                            model     fuelType  cylinders  displ
7138   Nissan                         Altra EV  Electricity        NaN    NaN
7139   Toyota                          RAV4 EV  Electricity        NaN    NaN
8143   Toyota                          RAV4 EV  Electricity        NaN    NaN
8144     Ford                            Th!nk  Electricity        NaN    NaN
8146     Ford           Explorer USPS Electric  Electricity        NaN    NaN
...       ...                              ...          ...        ...    ...
30969     Kia                    Soul Electric  Electricity        NaN    NaN
30972   Tesla  Model S (60 kW-hr battery pack)  Electricity        NaN    NaN
30973   Tesla                Model S AWD - 60D  Electricity        NaN    NaN
30974   Tesla              Model S AWD - P100D  Electricity        NaN    NaN
30975   Tesla                Model X AWD - 60D  Electricity        NaN    NaN

[123 rows x 5 columns]

In [45]:
data[['cylinders', 'displ']] = data[['cylinders', 'displ']].fillna(0) 
data.iloc[nul_index][['make', 'model', 'fuelType' ,'cylinders', 'displ']]

         make                            model     fuelType  cylinders  displ
7138   Nissan                         Altra EV  Electricity        0.0    0.0
7139   Toyota                          RAV4 EV  Electricity        0.0    0.0
8143   Toyota                          RAV4 EV  Electricity        0.0    0.0
8144     Ford                            Th!nk  Electricity        0.0    0.0
8146     Ford           Explorer USPS Electric  Electricity        0.0    0.0
...       ...                              ...          ...        ...    ...
30969     Kia                    Soul Electric  Electricity        0.0    0.0
30972   Tesla  Model S (60 kW-hr battery pack)  Electricity        0.0    0.0
30973   Tesla                Model S AWD - 60D  Electricity        0.0    0.0
30974   Tesla              Model S AWD - P100D  Electricity        0.0    0.0
30975   Tesla                Model X AWD - 60D  Electricity        0.0    0.0

[123 rows x 5 columns]

## Bonus: 
Now that we have filled in those null values, there are only two columns in the data set that still have null values: trany and drive. Use what you have learned in this section to investigate and potentially fill in the remaining null values.

In [46]:
data.isnull().sum()[data.isnull().sum() > 0]

drive    1189
trany      11
dtype: int64

In [47]:
nul_index2 = data.displ[data.drive.isnull()].index
nul_index2

Int64Index([ 7138,  8144,  8147, 18217, 18218, 18219, 18220, 18221, 18222,
            18223,
            ...
            20063, 20064, 20065, 20387, 21129, 23029, 23030, 23032, 23037,
            23040],
           dtype='int64', length=1189)

In [48]:
data.iloc[nul_index2][['make', 'model', 'fuelType' ,'drive']]

             make               model     fuelType drive
7138       Nissan            Altra EV  Electricity   NaN
8144         Ford               Th!nk  Electricity   NaN
8147       Nissan          Hyper-Mini  Electricity   NaN
18217  Alfa Romeo  Spider Veloce 2000      Regular   NaN
18218     Bertone                X1/9      Regular   NaN
...           ...                 ...          ...   ...
23029         GMC                 EV1  Electricity   NaN
23030         GMC                 EV1  Electricity   NaN
23032       Honda             EV Plus  Electricity   NaN
23037       Honda             EV Plus  Electricity   NaN
23040        MINI               MiniE  Electricity   NaN

[1189 rows x 4 columns]

In [49]:
data.drive.fillna('unknown', inplace = True)
data.isnull().sum()[data.isnull().sum() > 0]

trany    11
dtype: int64

In [17]:
data.iloc[nul_index2][['make', 'model', 'fuelType' ,'trany']]

             make               model     fuelType           trany
7138       Nissan            Altra EV  Electricity             NaN
8144         Ford               Th!nk  Electricity             NaN
8147       Nissan          Hyper-Mini  Electricity             NaN
18217  Alfa Romeo  Spider Veloce 2000      Regular    Manual 5-spd
18218     Bertone                X1/9      Regular    Manual 5-spd
...           ...                 ...          ...             ...
23029         GMC                 EV1  Electricity  Automatic (A1)
23030         GMC                 EV1  Electricity  Automatic (A1)
23032       Honda             EV Plus  Electricity  Automatic (A1)
23037       Honda             EV Plus  Electricity  Automatic (A1)
23040        MINI               MiniE  Electricity  Automatic (A1)

[1189 rows x 4 columns]

In [50]:
data.trany.fillna('unknown', inplace = True)
data.isnull().sum()[data.isnull().sum() > 0] #Ya no hay mas valores nulos

Series([], dtype: int64)

# Incorrect Values

In addition to null values, we also want to try to identify any values that seem incorrect. For example, in the previous section, we learned that a vehicle without cylinders should not have displacement and vice versa. Let's check to see if there are any cases that violate these rules.

In [85]:
#your code
for i in range(len(data)):
  if (data['cylinders'][i] != data['displ'][i]) & (data['cylinders'][i] == 0):
    print(data['cylinders'][i])
    print(i)
    print(data['displ'][i])
  if (data['cylinders'][i] != data['displ'][i]) & (data['displ'][i] == 0):
    print(data['displ'][i])
    print(data['cylinders'][i])

0.0
21506
1.3

Is there any row that seems to have strange values?

In [ ]:
#Como se puede ver en el codigo anterior, en la fila 21506 hay un valor incorrecto para el displacement, debido a que tendría que ser 0 ya que cylinders es 0

Here we have identified a vehicle with a regular gasoline engine that reportedly does not have any cylinders but does have a value for displacement.

The way we would correct this would be to either perform some domain research or ask a domain expert to find out how many actual cylinders this vehicle had. Alternatively, you can also try to look at similar vehicles in the data set and determine the most likely value for this field.

## Check similar rows

In [103]:
for i in range(len(data)):
  if data['displ'][i] == 1.3:
    print(data['displ'][i], data['cylinders'][i], i)
    
  
#vemos que los coches que tienen displacement 1.3 tienen una cilindrada de 2.0 o de 4.0, pero muchas mas de 4
#por tanto, tenemos que sustituir el valor de la cilindrad en la columna 21506 por 4

1.3 4.0 588
1.3 4.0 660
1.3 2.0 714
1.3 2.0 715
1.3 4.0 811
1.3 4.0 812
1.3 4.0 926
1.3 4.0 927
1.3 4.0 928
1.3 4.0 1737
1.3 2.0 1785
1.3 2.0 1786
1.3 4.0 1872
1.3 4.0 1873
1.3 4.0 1885
1.3 4.0 1886
1.3 4.0 2580
1.3 4.0 2778
1.3 4.0 2882
1.3 4.0 2883
1.3 4.0 2896
1.3 4.0 2897
1.3 4.0 2959
1.3 4.0 2960
1.3 4.0 3708
1.3 4.0 3709
1.3 4.0 3721
1.3 4.0 3722
1.3 4.0 3786
1.3 4.0 3787
1.3 4.0 4000
1.3 4.0 4518
1.3 4.0 4519
1.3 4.0 4609
1.3 4.0 4610
1.3 4.0 5398
1.3 4.0 5399
1.3 4.0 5476
1.3 4.0 5477
1.3 4.0 6290
1.3 4.0 6291
1.3 4.0 6360
1.3 4.0 6361
1.3 4.0 7227
1.3 4.0 7283
1.3 4.0 7284
1.3 2.0 8145
1.3 4.0 9211
1.3 4.0 9473
1.3 4.0 9474
1.3 4.0 10336
1.3 4.0 10337
1.3 2.0 10539
1.3 2.0 10540
1.3 4.0 10653
1.3 4.0 10654
1.3 4.0 10656
1.3 4.0 10657
1.3 2.0 11803
1.3 2.0 11804
1.3 4.0 11904
1.3 4.0 11905
1.3 4.0 11906
1.3 4.0 11907
1.3 2.0 13055
1.3 2.0 13056
1.3 4.0 14045
1.3 2.0 14318
1.3 2.0 14455
1.3 2.0 14456
1.3 4.0 14885
1.3 2.0 15670
1.3 2.0 15671
1.3 4.0 16301
1.3 2.0 16738
1.3 2.0 16739
1.3 4.0 17510
1.3 4.0 18003
1.3 4.0 18004
1.3 4.0 18229
1.3 2.0 18238
1.3 4.0 18254
1.3 4.0 18255
1.3 4.0 18353
1.3 4.0 19473
1.3 2.0 19480
1.3 4.0 19497
1.3 4.0 19586
1.3 2.0 20432
1.3 2.0 20433
1.3 4.0 20602
1.3 4.0 20613
1.3 4.0 20772
1.3 2.0 21108
1.3 2.0 21118
1.3 2.0 21126
1.3 0.0 21506
1.3 4.0 21674
1.3 4.0 22321
1.3 2.0 22637
1.3 2.0 22638
1.3 4.0 22651
1.3 4.0 22891
1.3 4.0 22892
1.3 4.0 23778
1.3 4.0 24230
1.3 4.0 24231
1.3 4.0 25146
1.3 4.0 25451
1.3 4.0 25452
1.3 4.0 25982
1.3 4.0 26747
1.3 4.0 26748
1.3 4.0 27192
1.3 4.0 28069
1.3 4.0 31288
1.3 4.0 31291
1.3 2.0 31339
1.3 2.0 31340
1.3 2.0 31341
1.3 4.0 31454
1.3 4.0 31455
1.3 4.0 31577
1.3 4.0 32533
1.3 4.0 32535
1.3 2.0 32595
1.3 2.0 32596
1.3 2.0 32597
1.3 4.0 32674
1.3 4.0 32675
1.3 4.0 32676
1.3 4.0 32705
1.3 4.0 32706
1.3 4.0 32707
1.3 4.0 32814
1.3 4.0 32815
1.3 4.0 32816
1.3 4.0 32817
1.3 4.0 32818
1.3 4.0 32842
1.3 4.0 33808
1.3 4.0 33809
1.3 4.0 33810
1.3 2.0 33868
1.3 2.0 33869
1.3 2.0 33870
1.3 4.0 33927
1.3 4.0 33928
1.3 4.0 33963
1.3 4.0 33964
1.3 4.0 34076
1.3 4.0 34077
1.3 4.0 34079
1.3 4.0 34080
1.3 4.0 34106
1.3 4.0 34985
1.3 4.0 34986
1.3 2.0 35051
1.3 2.0 35052
1.3 2.0 35053
1.3 4.0 35135
1.3 4.0 35136
1.3 4.0 35175
1.3 4.0 35176
1.3 4.0 35306
1.3 4.0 35307
1.3 4.0 35308
1.3 4.0 36137
1.3 4.0 36213
1.3 4.0 36214
1.3 2.0 36268
1.3 2.0 36269
1.3 4.0 36346
1.3 4.0 36347
1.3 4.0 36393
1.3 4.0 36394
1.3 4.0 36517
1.3 4.0 36518
1.3 4.0 36519
1.3 4.0 37329
1.3 4.0 37405
1.3 2.0 37464
1.3 2.0 37465
1.3 4.0 37568
1.3 4.0 37569
1.3 4.0 37692
1.3 4.0 37693
1.3 4.0 37694

Suppose that using one of the aforementioned methods, we found out that this vehicle actually has a 4 cylinder engine. Update that specific value in the data frame.

In [105]:
#your code
data['cylinders'][21506] = 4.0
print(data['cylinders'][21506])

4.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Bonus: 
 Try to find other values that might be incorrect in the data set based on what you know about automobiles and correct them.

In [ ]:
#Como carzco de conocimientos en coches, no puedo afirmar ni negar si los datos de la tabla son correctos.

# Low Variance Columns

When analyzing data, we want the fields we are working with to be informative, and we will want to strip away any columns that don't have a lot of value to us. One easy way to do this is to identify columns that have low variance, where the majority of the values in the column are the same. Since there is not a lot of variability in these columns, they have the potential to not be as informative as columns that have a variety of different values in them.

Let's try to identify columns where at least 90% of the values are the same so that we can remove them from our data set. To do this, we are going to create an empty list called low_variance that will eventually contain the names of columns that fit our criteria.

We will then write a for loop that will take the minimum and the 90th percentile value for all the numeric columns in our data set (identified via the _get_numeric_data method). If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

In [117]:
#your code
low_variance = []
for i in data.select_dtypes(include = np.number):
  if data[i].std() <= 6.5:
    low_variance.append(i)

print(low_variance)
len(low_variance)

['barrels08', 'barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders', 'displ', 'feScore', 'ghgScore', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'lv2', 'rangeCityA', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']

34

This returned 34 columns that we could potentially eliminate due to not having high enough variability to be informative. Of course, before we do this, we should check the values that do exist in these fields to confirm that they are not very informative. Once they have been checked, we can use the the drop method like we did earlier in this lesson to remove those columns from our data frame.

## Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.

In [118]:
#your code
data.drop(columns = low_variance, inplace = True, axis = 1)

In [121]:
data.shape

(37843, 36)

# Extreme Values and Outliers

Now that we have removed low variance columns, we should look for outliers, or extreme values, in the columns that remain. These outliers can influence our aggregations when we are analyzing data later, so we want to make sure we address them during our data cleaning stage.

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

    25th Percentile - (IQR x 1.5)
    75th Percentile + (IQR x 1.5)

Any values outside this range are potential outliers and should be investigated.

Let's look at how we would do this for our data set using Python. We will use the Pandas describe function to easily calculate the 25th and 75th percentiles for every column and transpose the results so that we can easily reference the values in calculating the interquartile ranges.

In [122]:
#Run this code
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
city08,37843.0,17.941389,6.660360,6.0,15.0,17.000000,20.0000,138.000000,5.0000
city08U,37843.0,4.042737,9.645820,0.0,0.0,0.000000,0.0000,138.304000,0.0000
co2,37843.0,61.503713,153.387715,-1.0,-1.0,-1.000000,-1.0000,847.000000,0.0000
co2A,37843.0,5.349919,55.539497,-1.0,-1.0,-1.000000,-1.0000,719.000000,0.0000
co2TailpipeAGpm,37843.0,17.771433,94.129283,0.0,0.0,0.000000,0.0000,719.000000,0.0000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.0,388.0,467.736842,555.4375,1269.571429,167.4375
comb08,37843.0,20.195809,6.623444,7.0,17.0,19.000000,23.0000,124.000000,6.0000
comb08U,37843.0,4.549751,10.389994,0.0,0.0,0.000000,0.0000,124.360100,0.0000
engId,37843.0,8860.308961,17829.683477,0.0,0.0,211.000000,4505.0000,69102.000000,4505.0000
fuelCost08,37843.0,1882.060090,510.280408,550.0,1500.0,1850.000000,2200.0000,5800.000000,700.0000
fuelCostA08,37843.0,79.070105,417.668580,0.0,0.0,0.000000,0.0000,3800.000000,0.0000
highway08,37843.0,24.104881,6.963192,9.0,20.0,24.000000,27.0000,111.000000,7.0000
highway08U,37843.0,5.438467,11.936327,0.0,0.0,0.000000,0.0000,111.370000,0.0000
hpv,37843.0,10.424332,28.148770,0.0,0.0,0.000000,0.0000,195.000000,0.0000
id,37843.0,19019.286235,11034.784855,1.0,9461.5,18923.000000,28570.5000,38173.000000,19109.0000
lv4,37843.0,6.165658,9.743297,0.0,0.0,0.000000,13.0000,55.000000,13.0000
pv2,37843.0,13.696113,31.269930,0.0,0.0,0.000000,0.0000,194.000000,0.0000
pv4,37843.0,33.769125,45.914462,0.0,0.0,0.000000,91.0000,192.000000,91.0000
range,37843.0,0.392675,8.251191,0.0,0.0,0.000000,0.0000,315.000000,0.0000
rangeCity,37843.0,0.352618,8.049082,0.0,0.0,0.000000,0.0000,305.900000,0.0000
rangeHwy,37843.0,0.343399,8.171939,0.0,0.0,0.000000,0.0000,346.900000,0.0000
UCity,37843.0,22.587229,9.350163,0.0,18.0,21.000000,25.1393,197.577100,7.1393
UHighway,37843.0,33.619221,10.048326,0.0,27.1,33.000000,38.1096,159.100000,11.0096
year,37843.0,2000.064398,10.390588,1984.0,1990.0,2001.000000,2009.0000,2017.000000,19.0000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.0,-4250.0,-2500.000000,-750.0000,4000.000000,3500.0000

We will then create an empty data frame called outliers with the same columns as our data set. Finally, we will loop through each column in the data calculating the lower and upper bounds, retrieving records where the value for that column falls outside the bounds we established, and appending those results to our outlier data frame.

In [123]:
#Run this code
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    

outliers.head()

,city08,city08U,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,drive,engId,...,rangeHwy,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn,Outlier
446,31,0.0,-1,-1,0.0,261.382353,34,0.0,Front-Wheel Drive,49010,...,0.0,Manual 4-spd,41.0000,53.0,Subcompact Cars,1985,1750,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,city08
705,30,0.0,-1,-1,0.0,269.303030,33,0.0,Front-Wheel Drive,26007,...,0.0,Manual 5-spd,39.0000,53.0,Two Seaters,1994,1750,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,city08
724,30,0.0,-1,-1,0.0,328.387097,31,0.0,Front-Wheel Drive,24680,...,0.0,Manual 5-spd,38.8889,45.0,Special Purpose Vehicles,1985,1000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,city08
775,31,0.0,-1,-1,0.0,269.303030,33,0.0,Front-Wheel Drive,54003,...,0.0,Automatic 3-spd,40.0000,51.0,Subcompact Cars,1994,1750,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,city08
776,38,0.0,-1,-1,0.0,216.756098,41,0.0,Front-Wheel Drive,54003,...,0.0,Manual 5-spd,51.0000,64.0,Subcompact Cars,1994,2750,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,city08

Our outliers data frame should now be populated with records that you can investigate further and determine whether they should be kept in the data or dropped. The Outlier column we added before appending the results for the column to the outliers data frame will let you know what column in each record contained the outlier. If you find that this method is returning too many results, you can be more stringent with your cutoff criteria (e.g. increasing the constant by which you multiply the IQR to 3 instead of 1.5).

# Data Type Correction

One common problem that is often overlooked is incorrect data types. This typically occurs when there is a numeric variable that should actually be represented as a categorical variable.

## Check the data type of each column

In [124]:
#your code
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city08           37843 non-null  int64
 1   city08U          37843 non-null  float64
 2   co2              37843 non-null  int64
 3   co2A             37843 non-null  int64
 4   co2TailpipeAGpm  37843 non-null  float64
 5   co2TailpipeGpm   37843 non-null  float64
 6   comb08           37843 non-null  int64
 7   comb08U          37843 non-null  float64
 8   drive            37843 non-null  object
 9   engId            37843 non-null  int64
 10  fuelCost08       37843 non-null  int64
 11  fuelCostA08      37843 non-null  int64
 12  fuelType         37843 non-null  object
 13  fuelType1        37843 non-null  object
 14  highway08        37843 non-null  int64
 15  highway08U       37843 non-null  float64
 16  hpv              37843 non-null  int64
 17  id               37843 non-null  int64
 18  lv4              37843 non-null  int64
 19  make             37843 non-null  object
 20  model            37843 non-null  object
 21  mpgData          37843 non-null  object
 22  phevBlended      37843 non-null  bool
 23  pv2              37843 non-null  int64
 24  pv4              37843 non-null  int64
 25  range            37843 non-null  int64
 26  rangeCity        37843 non-null  float64
 27  rangeHwy         37843 non-null  float64
 28  trany            37843 non-null  object
 29  UCity            37843 non-null  float64
 30  UHighway         37843 non-null  float64
 31  VClass           37843 non-null  object
 32  year             37843 non-null  int64
 33  youSaveSpend     37843 non-null  int64
 34  createdOn        37843 non-null  object
 35  modifiedOn       37843 non-null  object
dtypes: bool(1), float64(9), int64(16), object(10)
memory usage: 10.1+ MB

## Cleaning years
Do you think column year is a continuous variable? Would you change it onto another dtype?

In [ ]:
#No lo cambiaría porque no tengo el conocimiento suficiente como para saber que es cada columna.

You can apply this technique to any column whose data type you would like to change.

In [ ]:
#your code

# Cleaning Text and Removing Special Characters

The presence of special characters in our fields has the potential to make analyzing our data challenging. Imagine not being able to perform calculations on a numeric field because it was currently represented as an object data type due to the fact that it had a dollar sign ($) in it. 

Similarly, imagine having a categorical field where you could not group records that belong in the same group together because in one field you are grouping by, terms that refer to the same thing are sometimes hyphenated. In cases like this, it is necessary to remove special characters so that we can properly analyze the data.

In our vehicles data set, the trany field has several special characters (parentheses, hyphens, etc.). Check the unique values and clean the column.

hint: check the `replace` function

In [ ]:
for i in range(len(data)):
  if 'Auto' in data['trany'][i]:
    data.replace(data['trany'][i], 'AUTO')
  if 'Man' in data['trany'][i]:
    data.replace(data['trany'][i], 'MANUAL')
  
data['trany']

In [ ]:
#your code

In [ ]:
data['trany'].unique()

As you can see, we now have no special characters, consistent naming, and proper spacing. We started out with 47 unique values in this column, and using this technique, we were able to reduce the number of unique values to 39.



# Finding and Removing Duplicates

The final topic we are going to cover in this lab is how to identify and remove duplicate rows (or rows that refer to the same entity) in our data. When trying to identify duplicates, we will use the columns (or attributes) of the data to help us determine what entities are similar enough to be considered the same entity. We want to start with all the columns we currently have available to us and work our way toward a lesser number of attributes in an intuitive fashion. In this process, the act of dropping duplicated records is easy, but identifying the correct attributes for comparison and which records to drop is sometimes quite challenging.

The first thing we will do is attempt to drop any duplicate records, considering all the columns we currently have in the data set. 

Pandas provides us with the ability to do that via the `drop_duplicates method`.

## Drop duplicate rows that are completely equal

In [132]:

data.drop_duplicates().shape, data.shape

((37843, 36), (37843, 36))

This tells us that there were no records that matched exactly across all columns. However, if we reduce the number of columns in our data that we are interested in, we can try again and have a higher likelihood of finding duplicate records.

## Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.

In [135]:
#your code

print('Number of duplicate records dropped: ', str(data.shape), str(data.drop_duplicates().shape))

Number of duplicate records dropped:  (37843, 36) (37843, 36)

With the reduced number of columns, we were able to identify and drop 885 duplicate records.

# Export clean dataset
Export your bright new clean dataset into a csv file and store it in data folder.

In [136]:
data.to_csv('Vehicles_messy_clean.csv', index=False)